@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  text-indent: 24px;
  color: #191919;
  text-align: justify;
}

a {
  color: #191919;
  font-weight: 500;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f6efe5;
  color: #191919;
  overflow-x: hidden;
  counter-reset: li;
}

.intro {
  background: #ADA0F9;
}

.intro header {
  height: 100vh;
  width: 50%;
  max-height: 1000px;
  min-height: 450px;
}

.intro header h1 {
  display: none;
}

.intro header h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 70px;
  color: #191919;
  padding: 3.1em 0.5em 0 0.5em;
}

@media screen and (max-width: 1160px) {
  .intro header h2 {
    width: 100%;
    padding: 80px 40px;
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 1160px) {
  .intro header {
    width: 100%;
    height: 70vh;
  }
}

.intro .summary {
  background: #ffffff;
  position: absolute;
  padding: 0 60px;
  top: 100px;
  right: 100px;
  height: 150vh;
  max-height: 1300px;
  z-index: 20;
  width: 500px;
}

@media screen and (max-width: 1160px) {
  .intro .summary {
    position: relative;
    width: 100%;
    padding: 40px 60px;
    max-height: 250px;
    top: 0;
    margin-top: 0;
    right: 0;
  }
}

.intro .summary p {
  width: 390px;
  margin-top: 60vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: justify;
  text-indent: 0 !important;
}

@media screen and (max-width: 1160px) {
  .intro .summary p {
    margin-top: 0 !important;
    padding-top: 40px;
    width: calc(100% - 120px);
    padding-left: 20%;
  }
}

.preamble {
  background: #F6EFE5;
  padding: 8em 10% 13em 10%;
  position: relative;
}

@media screen and (max-width: 1160px) {
  .preamble {
    padding: 7em 20px 12em 20px;
  }
}

.preamble h3 {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.preamble p {
  width: 45%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: justify;
}

@media screen and (max-width: 1160px) {
  .preamble p {
    width: calc(100% - 80px);
  }
}

.preamble p:nth-child(4) {
  position: absolute;
  right: 150px;
  width: 390px;
  top: 8em;
  z-index: 22;
}

@media screen and (max-width: 1160px) {
  .preamble p:nth-child(4) {
    width: calc(100% - 80px);
    position: relative;
    right: 0;
    top: 0;
  }
}

.extra1 {
  position: absolute;
  width: 36%;
  height: 50%;
  right: 50px;
  top: 22px;
  z-index: 23;
  background: url(main-image.jpg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1160px) {
  .extra1 {
    height: 70vh;
    top: 0;
    right: 0;
    min-width: 50%;
    min-height: 450px;
  }
}

.main.supporting {
  position: relative;
}

.main.supporting .explanation {
  height: 900px;
  background: #ffffff;
  position: relative;
  background: url(bg-1.jpg);
  background-position: center;
  background-size: cover;
}

.main.supporting .explanation h3 {
  background: #ADA0F9;
  padding: 0.3rem 0.5rem;
  right: 0;
  position: absolute;
  margin-right: 230px;
  clear: both;
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  top: 180px;
}

.main.supporting .explanation p {
  width: 500px;
  clear: both;
  float: right;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  padding: 0 3rem 3rem 3rem;
  background: #ffffff;
  margin-right: 50px;
}

.main.supporting .explanation p:nth-child(2) {
  margin-top: 120px !important;
  padding: 10rem 3rem 0.4rem 3rem;
  margin-top: 50px;
}

.main.supporting .participation {
  width: 530px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  padding: 46px 50px;
  float: left;
}

.main.supporting .participation h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}

.main.supporting .benefits {
  padding: 2rem 2rem 18rem 2rem;
  width: 350px;
  background: #ffffff;
  position: absolute;
  right: 20%;
  z-index: 2;
  margin-top: 3em;
}

@media screen and (max-width: 1160px) {
  .main.supporting .benefits {
    right: 11%;
  }
}

.main.supporting .benefits h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 44px;
}

.main.supporting .benefits p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
}

.main.supporting .benefits::after {
  content: "";
  width: 270px;
  right: -90px;
  bottom: -40px;
  background-image: url(bg-2.jpg);
  background-size: cover;
  background-position: center;
  z-index: 40;
  display: inline-block;
  min-height: 300px;
  position: absolute;
}

.main.supporting .requirements {
  width: 100%;
  padding-left: 390px;
  float: left;
  clear: both;
  padding: 10rem 4rem 10rem 480px;
  position: relative;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: relative;
  margin-top: 40px;
}

@media screen and (max-width: 1160px) {
  .main.supporting .requirements {
    padding: 8rem 2rem 8rem 350px;
    -webkit-column-count: 1;
            column-count: 1;
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.main.supporting .requirements h3 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

.main.supporting .requirements p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
}

.main.supporting .requirements p:nth-child(2) {
  margin-top: 80px;
}

.main.supporting .requirements p:nth-child(4) {
  padding-top: 80px;
}

@media screen and (max-width: 1160px) {
  .main.supporting .requirements p:nth-child(4) {
    padding: 0 !important;
  }
}

.main.supporting .requirements::before {
  content: "";
  background: url(bg-3.jpg);
  z-index: 100000;
  left: 40px;
  top: 0;
  width: 390px;
  height: 550px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1160px) {
  .main.supporting .requirements::before {
    left: 0;
    width: 310px;
    height: 600px;
  }
}

.sidebar .wrapper {
  background: #ADA0F9;
  position: relative;
  clear: both;
  padding: 0 40px;
  float: left;
}

.sidebar .wrapper div {
  clear: both;
  float: left;
}

.design-selection {
  width: 100%;
}

.design-selection .select {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  padding-top: 40px;
  margin-left: 10px;
}

.design-selection nav {
  width: 100vw;
  padding-top: 20px;
}

.design-selection nav ul {
  list-style: none;
  width: calc(100% - 80px);
}

.design-selection nav ul li {
  list-style: none;
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #ffffff;
  vertical-align: middle;
  margin: 10px;
  padding: 20px;
}

.design-selection nav ul li::before {
  counter-increment: li;
  content: counter(li);
  font-size: 40px;
  padding: 0 80% 0 0;
}

.design-selection nav ul li a {
  width: 100%;
  display: inline-block;
}

.design-archives {
  width: 100vw;
  margin-left: -40px;
  background: #FEA5C9;
  padding: 40px;
  margin-top: 50px;
}

.design-archives h3 {
  color: #fbfbfb;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  margin-left: 10px;
}

.design-archives ul,
.design-archives li {
  list-style: none;
}

.design-archives ul {
  margin-left: 10px;
}

.design-archives ul li a {
  font-weight: 600;
  color: #fbfbfb;
  line-height: 22px;
}

.zen-resources {
  width: 100vw;
  margin-left: -40px;
  padding: 40px;
  background: #FEA5C9;
  position: relative;
}

.zen-resources h3 {
  color: #fbfbfb;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  margin-left: 10px;
}

.zen-resources ul,
.zen-resources li {
  list-style: none;
}

.zen-resources ul {
  margin-left: 10px;
}

.zen-resources ul li a {
  font-weight: 600;
  color: #fbfbfb;
  line-height: 22px;
}

.zen-resources::after {
  content: "";
  width: 400px;
  right: 40px;
  top: -100px;
  background-image: url(footer-illustration.svg);
  background-size: cover;
  background-position: center;
  z-index: 40;
  display: inline-block;
  min-height: 300px;
  position: absolute;
}

footer {
  position: absolute;
  left: 25px;
  top: 100px;
}

footer a {
  display: inline-block;
  width: 100%;
  line-height: 25px;
  color: #FA583C;
  font-size: 20px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */